@if (bookInfo) {
  <section class="container d-flex flex-column mb-4 mb-md-0">
    <h2 class="mt-3 mb-4 mb-md-0 text-center">搜尋結果</h2>
    <div class="row my-auto">
      <div class="col-12 col-md-5 d-flex justify-content-center justify-content-md-end mb-4 mb-md-0 pe-4">
        <div id="box_img" class="row align-items-center">
          <img [src]="'data:image/*;base64,' + bookInfo.image" class="rounded shadow-lg">
        </div>
      </div>

      <div class="col-12 col-md-7 d-flex flex-column ps-4">
        <h1 class="mb-4 mb-md-0 text-center text-md-start">{{ bookInfo.title }}</h1>
        <div class="row my-auto fs-5">
          <dt class="col-4 mb-3 text-end text-md-start text-muted fw-normal">作者</dt>
          <dd class="col-8 mb-3">
            @for (authorInfo of bookInfo.authorInfos; track $index) {
              {{ authorInfo.author }}

              @if (!$last) { 、 }
            }
          </dd>

          <dt class="col-4 mb-3 text-end text-md-start text-muted fw-normal">譯者</dt>
          <dd class="col-8 mb-3">{{ bookInfo.translator }}</dd>

          <dt class="col-4 mb-3 text-end text-md-start text-muted fw-normal">出版社</dt>
          <dd class="col-8 mb-3">{{ bookInfo.publisher }}</dd>

          <dt class="col-4 mb-3 text-end text-md-start text-muted fw-normal">語言</dt>
          <dd class="col-8 mb-3">{{ bookInfo.language }}</dd>

          <dt class="col-4 mb-3 text-end text-md-start text-muted fw-normal">類型</dt>
          <dd class="col-8 mb-3">{{ bookInfo.type }}</dd>

          <dt class="col-4 mb-3 text-end text-md-start text-muted fw-normal">ISBN</dt>
          <dd class="col-8 mb-3">{{ bookInfo.isbn }}</dd>
        </div>
        <div class="d-flex justify-content-center justify-content-md-start">
          <app-btn id="btnRsv" class="w-50 mb-2 fs-5" btnClass="{{ bookInfo.bookStatus ? 'btn_BG-GREEN1' : 'btn_BG-RED' }}">
            {{ (bookInfo.bookStatus) ? '可借閱，立即預約取書' : '借閱中，立即預約借閱' }}
          </app-btn>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <ul class="nav nav-tabs d-flex justify-content-center fs-5">
      <li class="nav-item">
        <a class="nav-link" [class]="(isActive === 1) ? 'active' : 'text-muted fw-normal'" (click)="isActive = 1">書籍簡介</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class]="(isActive === 2) ? 'active' : 'text-muted fw-normal'" (click)="isActive = 2">作者簡介</a>
      </li>
    </ul>

    <div class="tab-content mb-5 p-4 rounded">
      @if (isActive === 1) {
        <div class="fs-5 lh-base text-muted">
          {{ bookInfo.bDesc || '查無相關書籍簡介' }}
        </div>
      }

      @if (isActive === 2) {
        @for (authorInfo of bookInfo.authorInfos; track $index) {
          <h4>{{ authorInfo.author }}</h4>
          <div class="fs-5 lh-base text-muted">
            {{ authorInfo.aDesc || '查無相關作者簡介' }}
          </div>

          @if (!$last) { <br><br> }
        }
      }
    </div>

    <app-swiper-pop></app-swiper-pop>
  </section>
}
@else {
  <section class="container">
    <app-swiper-pop></app-swiper-pop>
  </section>
}
