<div id="modal_search" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <form class="modal-content" [formGroup]="formQ" (ngSubmit)="query()">
      <div class="modal-header justify-content-center">
        <h4 class="modal-title">{{ (mode === '') ? '搜尋' : '進階搜尋' }}</h4>
      </div>

      <div class="modal-body d-flex justify-content-center">
        <div class="row align-items-stretch w-100">
          <div class="col-3 mb-3 pe-1">
            <app-drp [FC]="formQ.controls.type1" [options]="type1List"></app-drp>
          </div>
          <div class="col-9 mb-3 ps-1">
            <app-ipt [FC]="formQ.controls.info"></app-ipt>
          </div>

          @if (mode === '') { }
          @else {
            <div class="col-3 d-flex align-items-center mb-3 pe-1">
              <p class="mb-0" style="padding-left: .75rem">年份：</p>
            </div>
            <div class="col-9 mb-3 ps-1">
              <div class="row w-100 m-0">
                <div class="col-6 ps-0">
                  <app-ipt [FC]="formQ.controls.sYear" placeholder="(起)"></app-ipt>
                </div>
                <div class="col-6 pe-0">
                  <app-ipt [FC]="formQ.controls.eYear" placeholder="(迄)"></app-ipt>
                </div>
              </div>
            </div>

            <div class="col-6 mb-3 pe-1">
              <app-drp [FC]="formQ.controls.lang" [options]="langList"></app-drp>
            </div>
            <div class="col-6 mb-3 ps-1">
              <app-drp [FC]="formQ.controls.type2" [options]="type2List"></app-drp>
            </div>
          }

          <div class="col-12 d-flex justify-content-end gap-2">
            <app-btn id="btnSw" btnClass="btn_BG-BLUE5" (click)="switch()">{{ (mode === '') ? '更多' : '更少' }}</app-btn>
            <app-btn id="btnR" btnClass="btn_BG-RED" (click)="reset()">重置</app-btn>
            <app-btn type="submit" id="btnQ" btnClass="btn_BG-GREEN1">搜尋</app-btn>
          </div>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-start">
        <p>系列：</p>

        @for (series of seriesList; track $index) {
          <app-btn btnClass="btn_BG-GRAY3" (click)="sync($event)">{{ series }}</app-btn>
        }
      </div>
    </form>
  </div>
</div>
