:host {
  pointer-events: none;
}

img {
  position: absolute;
}

#tree1,
#tree2,
#tree3,
#tree4,
#tree5 {
  display: none;
}

@media(min-width: 768px) {
  #tree4 {
    display: block;
    z-index: 1;
    bottom: -8.75vh;
    right: -17.5vw;

    width: 20vw;
    height: auto;
  }

  #tree5 {
    display: block;
    z-index: 0;
    bottom: -11.25vh;
    right: -27.5vw;

    width: 30vw;
    height: auto;
  }
}

@media(min-width: 992px) {
  #tree1 {
    display: block;
    z-index: 0;
    bottom: -8.75vh;
    left: -22.5vw;

    width: 20vw;
    height: auto;
  }

  #tree2 {
    display: block;
    z-index: 2;
    bottom: -7.5vh;
    left: -16.5vw;

    width: 15vw;
    height: auto;
  }

  #tree3 {
    display: block;
    z-index: 1;
    bottom: -10vh;
    left: -17.5vw;

    width: 25vw;
    height: auto;
  }
}
