<footer>
  <div class="container-fluid py-3">
    <div class="row align-items-center">
      <div class="col-12 col-md-2 offset-md-1 d-flex justify-content-center justify-content-md-start">
        <img id="logoF" src="/images/logoF.png" />
      </div>
      <div class="col-12 col-md-6 d-flex flex-column align-items-center mt-3 mt-md-0">
        <div class="text-start">
          地址：402011臺中市南區五權南路100號／環景導覽<br />
          電話：(04)2262-5100
        </div>
        <div class="d-none d-md-block mt-3 text-center text-black-50">
          國立公共資訊圖書館版權所有 © 2026 All Rights Reserved
        </div>
      </div>
      <div class="col-12 col-md-2 d-flex justify-content-center justify-content-md-end mt-3 mt-md-0 gap-3">
        <a href="#"><img src="/svgs/facebook.svg" /></a>
        <a href="#"><img src="/svgs/instagram.svg" /></a>
        <a href="#"><img src="/svgs/youtube.svg" /></a>
      </div>
      <div class="col-12 d-md-none mt-3 text-center text-black-50">
        國立公共資訊圖書館版權所有 © 2026 All Rights Reserved
      </div>
    </div>
  </div>
</footer>
