<form [formGroup]="formQ" (ngSubmit)="query()">
  <div class="accordion">
    <div class="accordion-item">
      <div class="accordion-header">
        <button type="button" class="accordion-button text-dark" [class.collapsed]="!isCollapseT()"
          [style.background-color]="isCollapseT() ? 'var(--c1-green1---025)' : 'var(--c1-white---100)'"
          (click)="collapse('T')">類別</button>
      </div>
      <div class="accordion-collapse collapse" [class.show]="isCollapseT()">
        <div class="accordion-body d-flex flex-column p-3 gap-2">
          @for (x of typeList(); track x.typeId) {
            @let typeId = x.typeId.toString();

            <app-btn type="submit" btnClass="btn_ACD d-flex justify-content-between align-items-center w-100
              text-start text-muted border-0 rounded-2"
              (click)="select('typeId', typeId)">
              {{ x.type }}

              @if (formQ.controls.typeId.value === typeId) { <i class="bi bi-check-circle-fill text-success"></i> }
            </app-btn>
          }
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header">
        <button type="button" class="accordion-button text-dark" [class.collapsed]="!isCollapseP()"
          [style.background-color]="isCollapseP() ? 'var(--c1-green1---025)' : 'var(--c1-white---100)'"
          (click)="collapse('P')">出版社</button>
      </div>
      <div class="accordion-collapse collapse" [class.show]="isCollapseP()">
        <div class="accordion-body d-flex flex-column p-3 gap-2">
          @for (x of publisherList(); track $index) {
            <app-btn type="submit" btnClass="btn_ACD d-flex justify-content-between align-items-center w-100
              text-start text-muted border-0 rounded-2"
              (click)="select('publisher', x)">
              {{ x }}

              @if (formQ.controls.publisher.value === x) { <i class="bi bi-check-circle-fill text-success"></i> }
            </app-btn>
          }
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header">
        <button type="button" class="accordion-button text-dark" [class.collapsed]="!isCollapseL()"
          [style.background-color]="isCollapseL() ? 'var(--c1-green1---025)' : 'var(--c1-white---100)'"
          (click)="collapse('L')">語言</button>
      </div>
      <div class="accordion-collapse collapse" [class.show]="isCollapseL()">
        <div class="accordion-body d-flex flex-column p-3 gap-2">
          @for (x of langList(); track x.langId) {
            @let langId = x.langId.toString();

            <app-btn type="submit" btnClass="btn_ACD d-flex justify-content-between align-items-center w-100
              text-start text-muted border-0 rounded-2"
              (click)="select('langId', langId)">
              {{ x.lang }}

              @if (formQ.controls.langId.value === langId) { <i class="bi bi-check-circle-fill text-success"></i> }
            </app-btn>
          }
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header">
        <button type="button" class="accordion-button text-dark" [class.collapsed]="!isCollapseS()"
          [style.background-color]="isCollapseS() ? 'var(--c1-green1---025)' : 'var(--c1-white---100)'"
          (click)="collapse('S')">系列</button>
      </div>
      <div class="accordion-collapse collapse" [class.show]="isCollapseS()">
        <div class="accordion-body d-flex flex-column p-3 gap-2">
          @for (x of seriesList(); track x.seriesId) {
            @let seriesId = x.seriesId.toString();

            <app-btn type="submit" btnClass="btn_ACD d-flex justify-content-between align-items-center w-100
              text-start text-muted border-0 rounded-2"
              (click)="select('seriesId', seriesId)">
              {{ x.series }}

              @if (formQ.controls.seriesId.value === seriesId) { <i class="bi bi-check-circle-fill text-success"></i> }
            </app-btn>
          }
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header">
        <button type="button" class="accordion-button text-dark" [class.collapsed]="!isCollapseY()"
          [style.background-color]="isCollapseY() ? 'var(--c1-green1---025)' : 'var(--c1-white---100)'"
          (click)="collapse('Y')">年份</button>
      </div>
      <div class="accordion-collapse collapse" [class.show]="isCollapseY()">
        <div class="accordion-body d-flex flex-column p-3 gap-2">
          <div class="row w-100 m-0">
            <div class="col-6 ps-0">
              <!-- <app-ipt [FC]="formQ.controls.sYear" placeholder="(起)" (change)="query()"></app-ipt> -->
              <app-ipt [FC]="formQ.controls.sYear" placeholder="(起)" (keydown.enter)="query()" (focusout)="query()"></app-ipt>
            </div>
            <div class="col-6 pe-0">
              <!-- <app-ipt [FC]="formQ.controls.eYear" placeholder="(迄)" (change)="query()"></app-ipt> -->
              <app-ipt [FC]="formQ.controls.eYear" placeholder="(迄)" (keydown.enter)="query()" (focusout)="query()"></app-ipt>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-body d-flex flex-column p-0">
        <app-btn id="btnR" btnClass="btn_BG-RED w-100" (click)="reset()">重置</app-btn>
      </div>
    </div>
  </div>
</form>
