h2 {
  background-image: url("/images/bgx.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

swiper-container {
  --swiper-navigation-color: var(--c1-green1---100);
  --swiper-pagination-color: var(--c1-green1---100);
}

swiper-container::part(button-next),
swiper-container::part(button-prev) {
  display: none;
}

@media(min-width: 768px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    display: block;
  }
}

.box_bookP {
  position: relative;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 3 / 4;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

figure:hover .box_bookP {
  transform: rotateY(180deg);
}

.box_imgP,
.box_infoP {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.box_infoP {
  transform: rotateY(180deg);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box_descP {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
